<div class="install-hero">
  <h1 class="get-started-h1">Get started</h1>
  <div class="install-row">
    <div class="instructions-install">
      <h4>1. Install R</h4>
      <p>
        The current release of Bioconductor is version 3.17; it works with R
        version 4.3.0. Users of older R and Bioconductor must update their
        installation to take advantage of new features and to access packages
        that have been added to Bioconductor since the last release.
      </p>
      <p>
        The development version of Bioconductor is version 3.18; it works with R
        version 4.3.0. More recent ‘devel’ versions of R (if available) will be
        supported during the next Bioconductor release cycle.
      </p>
      <!-- img -->
    </div>
    <div class="instructions-install">
      <h4>2. Get latest version of Bioconductor</h4>
      <p>
        Once R has been installed, get the latest version of Bioconductor by
        starting R and entering the following commands.
      </p>
      <p>
        It may be possible to change the Bioconductor version of an existing
        installation;
        <a
          href="https://cran.r-project.org/web/packages/BiocManager/vignettes/BiocManager.html"
          >see the ‘Changing version’ section of the BiocManager vignette.</a
        >
      </p>
      <p>
        Details, including instructions to
        <a>install additional packages</a> and to <a>update,</a>
        <a>find,</a> and <a>troubleshoot</a> are provided below. A
        <a href="https://contributions.bioconductor.org/use-devel.html"
          >devel</a
        >
        version of Bioconductor is available. There are good
        <a>reasons for using BiocManager::install()</a> for managing
        Bioconductor resources.
      </p>
    </div>
  </div>
  <div class="install-row">
    <div class="warmcool-gradient">
      <div class="install-row">
        <div class="install-content">
          <blockquote class="install-blockquote">
            <h4>1.</h4>
            <p>
              Download the most recent version of R. The R FAQs and the R
              Installation and Administration Manual contain detailed
              instructions for installing R on various platforms (Linux, OS X,
              and Windows being the main ones).
            </p>
          </blockquote>
          <blockquote class="install-blockquote">
            <h4>2.</h4>
            <p>
              Start the R program; on Windows and OS X, this will usually mean
              double-clicking on the R application, on UNIX-like systems, type
              “R” at a shell prompt.
            </p>
          </blockquote>
          <blockquote class="install-blockquote">
            <h4>3.</h4>
            <p>
              As a first step with R, start the R help browser by typing
              help.start() in the R command window. For help on any function,
              e.g. the “mean” function, type ?mean.
            </p>
          </blockquote>
        </div>
        <div class="install-content">
          <pre>
        <code class="light nohighlight">
        if (!require("BiocManager", quietly = TRUE))
        install.packages("BiocManager")
        BiocManager::install(version = "3.17")
        </code>
        </pre>
        </div>
      </div>
    </div>
  </div>
</div>
