.announcement {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.announcement p {
  padding-top: 11px;
  padding-bottom: 12px;
}

.announcement-default {
    background-color: #070707;
    color: #fff;
    stroke: #fff
}

.announcement-warning {
    background-color: var(--misc-warning);
    color: #070707;
    stroke: #070707
}

.announcement-error {
    background-color: var(--misc-error);
    color: #fff;
    stroke: #fff
}

.announcement-brand {
    background-image: var(--gradient-brand);
    color: #fff;
    stroke: #fff
}