body {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

/* "site-container" is the single div containing every other element in the site.
   it floats center, with no vertical margins, and provides the overall
   width of the site. we provide both an id and a class name in order
   to allow more flexible cascading: id rules are highly ranked while
   class names play nicer with other rules. */

#site-container {
  margin: 0 auto; /* floats the design center */
  width: 1600px; /* change the site design width here */
}


#SiteGlobalFooter {
  background-color: #121212;
  padding: 40px 80px;
  border-style: solid;
  border-width: 10px 0 0;
  border-image: linear-gradient(to left, #008daf, #0484a9, #18a603) 1;
  margin-top: 30px;
  color: #ffffff;
  font-size: 70%;
  display: flex;
  flex-direction: column;
}

.link-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.SiteGlobalFooter a,
p {
  color: var(--default-white, #fff);
  font-size: 16px;
  line-height: 130%;
  text-decoration: none;
}

.contact-container {
  display: flex;
  justify-content: space-between;
}

.SiteGlobalFooter h3 {
  color: var(--default-white, #fff);
}