
body {
  background-color: white
}
.SiteContainer {
  margin-left: auto;
  margin-right: auto;
  width:100vh;  
  max-width: 1400px;
  display: flex;
  padding: 32px 100px 48px 100px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .SiteContainer {
    max-width: 358px;
  }
}
