.white-button {
  background: var(--neutral-n50);
  color: var(--primary-p400);
  min-height: 20px;
  max-height: 20px;
  cursor: pointer;
  display: block;
  width: fit-content;
  transition: 0.3s;
  padding: 0.6rem 0.8rem;
  border-radius: 8rem;
}

.white-button:hover {
  background: var(--primary-p50);
}

.white-button:active {
  background: var(--primary-p200);
}

.white-button * {
  vertical-align: middle;
}

.white-button svg {
  margin-bottom: 1px;
}

.white-button svg:hover {
  background: var(--primary-p50);
  stroke: black;
}

@media (prefers-reduced-motion: reduce) {
  .white-button:hover {
    transition: none;
  }
}
