button {
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: 8rem;
  background: var(--primary-p400);
  transition: 0.3s;
  color: #fff;
  border: none;
  font-family: inherit;
}

button:hover {
  background: var(--primary-p500);
}

.hero-button {
  height: 54px;
  padding: 0 1.625rem;
  border-radius: 16rem;
  background: var(--gradient-brandreverse);
  margin-bottom: 0.3rem;
  transition: 0.3s;
  cursor: pointer;
}

.hero-button img {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

/* stylelint-disable */
.hero-button:hover {
  background: var(--gradient-brand);
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.18) inset;
}
/* stylelint-enable */
