.button {
  padding: 0.6rem 0.8rem;
  border-radius: 8rem;
  background: var(--primary-p400);
  transition: 0.3s;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  display: block;
  width: fit-content;
}

.button:hover {
  background: var(--primary-p500);
}

.white-button {
  background: var(--neutral-n50);
  color: var(--primary-p400);
  min-height: 20px;
  max-height: 20px;
}

.white-button:hover {
  background: var(--primary-p50);
}

.white-button * {
  vertical-align: middle;
}

.white-button svg {
  margin-bottom: 1px;
}

.white-button svg:hover {
  background: var(--primary-p50);
  stroke: black;
}
