pre:has(code) {
  background-color: var(--code-blocks-dark);
  color: white;
  border: 1px solid var(--primary);
  border-radius: 5px;
  overflow-x: auto;
  padding: 1rem;
}

code,
pre code.hljs,
.hljs-punctuation {
  padding: 0;
  margin: 0;
  background: none;
  color: white;
  display: contents;
  font-size: 1rem;
}

.hljs-string {
  color: var(--code-dark-string);
}

pre:has(code.light) {
  background-color: white;
}

.hljs.light,
code.light .hljs-punctuation,
code.light {
  color: var(--default-body);
}

code.light .hljs-string {
  color: var(--code-light-string);
}
