/* global styles defined at the topmost level.
   these can be overridden by subsequent selectors. */

/* Downloaded the font format */
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/AtkinsonHyperlegible-Regular.woff") format("woff");
  src: url("fonts/AtkinsonHyperlegible-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/AtkinsonHyperlegible-Bold.woff") format("woff");
  src: url("fonts/AtkinsonHyperlegible-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Caveat";
  src: url("fonts/Caveat-Regular.woff") format("woff");
  src: url("fonts/Caveat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Caveat";
  src: url("fonts/Caveat-Bold.woff") format("woff");
  src: url("fonts/Caveat-Bold.ttf") format("truetype");
  font-weight: bold;
}
