.GlobalFooter {
  margin-right: auto;
  margin-left: auto;
  max-width: 87.5rem; /* 1400px*/
  background-color: #121212;
  padding: 2.5rem 6.25rem; /* 40px, 100px */
  border-style: solid;
  border-width: 0.625rem 0 0; /* 10px */
  border-image: var(--gradient-brandreverse) 1;
  margin-top: 1.875rem; /* 30px */
  color: #ffffff;
  font-size: 70%;
  display: flex;
  flex-direction: column;
  height: 29.25rem; /* 468px */
  gap: 1.5625rem; /* 25px  */
  clear: both;
}

@media (max-width: 400px) {
  .GlobalFooter {
    max-width: 24.375rem; /* 390px  */
    gap: 2rem; /* 32px  */
    height: 47.3125rem; /* 757px  */
    padding: 2rem 0;
  }
}

.link-container-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 13.125rem; /* 210px  */
}

.link-container {
  display: flex;
  flex-direction: row;
  gap: 13.125rem; /* 210px  */
}

.link-container a {
  color: var(--default-white, #fff);
}

.contact-container p,
a {
  color: var(--default-white, #fff);
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.625rem; /* 10px  */
  padding-inline-start: 0;
}

.text-footer {
  color: var(--default-white, #fff);
}

.logo-contact-container {
  display: flex;
  justify-content: space-between;
}

.copyright p {
  margin-bottom: 0;
  padding: 0;
}

.copyright {
  margin-top: 0.9375rem; /* 15px  */
}

.GlobalFooter h3 {
  color: var(--default-white, #fff);
  margin-bottom: 0.3125rem; /* 5px  */
  margin-top: 0;
}

.socials-logo-container {
  padding: 0.5625rem 1.5rem; /* 9px , 24px  */
}

.socials img {
  padding-right: 1.875rem; /* 30px  */
  margin-bottom: 0;
}

.socials {
  margin-right: 3.125rem; /* 50px  */
}
