.global-footer {
  margin-right: auto;
  margin-left: auto;
  max-width: 87.5rem; /* 1400p x*/
  background-color: #121212;
  padding: 2.5rem 6.25rem; /* 40px, 100px */
  border-style: solid;
  border-width: 0.625rem 0 0; /* 10px */
  border-image: var(--gradient-brandreverse) 1;
  margin-top: 1.875rem; /* 30px */
  color: var(--default-white, #fff);
  font-size: 70%;
  display: flex;
  flex-direction: column;
  height: 29.25rem; /* 468px */
  gap: 1.5625rem; /* 25px  */
  clear: both;
}

.link-container-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 13.125rem; /* 210px  */
}

.link-container {
  display: flex;
  flex-direction: row;
  gap: 13.125rem; /* 210px  */
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.625rem; /* 10px  */
  padding-inline-start: 0;
}

.text-footer {
  color: var(--default-white, #fff);
}

.logo-contact-container {
  display: flex;
  justify-content: space-between;
}

.copyright p {
  margin-bottom: 0;
  padding: 0;
}

.copyright {
  margin-top: 1rem; /* 15px  */
}

.global-footer a {
  color: var(--default-white, #fff);
}

.global-footer h3 {
  color: var(--default-white, #fff);
}

.socials-logo-container {
  display: flex;
  align-items: center;
  gap: 64px;
}
.socials img {
  padding-right: 2rem; /* 30px  */
  margin-bottom: 0;
}

.socials {
  margin-top: 10px;
  margin-top: 26px;
}
.footer-logo {
  padding: 0;
}

.footer-logo img {
  width: 193.332px;
  height: 55.632px;
  padding-top: 1rem;
}

@media (width <= 700px) {
  .global-footer {
    max-width: 100%; /* 390px  */
    gap: 2rem; /* 32px  */
    height: auto; /* 757px  */
    padding: 32px;
    align-items: center;
  }

  .link-container {
    flex-direction: column;
    gap: 0px;
  }

  .link-container-inner {
    flex-direction: row;
    gap: 37px;
  }
  .list-container {
    display: flex;
    min-width: 160px;
  }

  .logo-contact-container {
    display: block;
    margin-left: -78px;
  }
  .copyright {
    margin-top: 0px;
    margin-left: 0px;
  }

  .footer-logo {
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer-logo img {
    width: 193.332px;
    height: 55.632px;
  }
  .socials-logo-container {
    display: block;
    padding: 24px 0rem;
  }

  .socials {
    margin: auto;
    padding-right: 16px;
    padding-left: 16px;
  }
}
