.information-container {
  display: flex;
  background-color: inherit;
  gap: 2rem;
}

.information-container section {
  flex: 1;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: white;
}

.information-container section * {
  text-align: start;
}
