.information-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  background-color: inherit;
  gap: 2rem;
}

.news,
.packages,
.about-bioconductor {
  max-width: 382px;
  min-width: 382px;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.information-container section * {
  text-align: start;
}

.news p {
  border-left: 3px solid;
  border-color: var(--primary);
  padding-left: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}

@media screen and (width <= 700px) {
  .information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
