.information-container {
  display: flex;
  background-color: inherit;
  gap: 2rem;
}

.information-container section {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  width: 23.8rem;
  max-width: 23.8rem;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0.5rem;
  background-color: white;
}

.information-container section * {
  text-align: start;
}
