<div class="sidebar-nav-container">
  <div class="sidebar-nav">
    <span class="sidebar-header">
      <p class="format-bold">Jump to:</p>
      <img
        class="mobile-chevron"
        src="/images/icons/chevron-down.jpg"
        alt="collapse-chevron" />
    </span>

    <nav class="internal-nav" aria-label="Page navigation">
      <a class="sidebar-nav-button selected-nav" href="#quickstart"
        >Quick start
      </a>
      <a class="sidebar-nav-button" href="#intro">Why Use Containers</a>
      <a class="sidebar-nav-button" href="#goals">Goals for new containers </a>
      <a class="sidebar-nav-button" href="#current">Current Containers </a>
      <a class="sidebar-nav-button" href="#usage">Using Containers</a>
      <a class="sidebar-nav-button" href="#running">Running Containers </a>
      <a class="sidebar-nav-button" href="#mounting">
        Mounting Additional Volume
      </a>
      <a class="sidebar-nav-button" href="#dockercompose">
        Using docker-compose
      </a>
      <a class="sidebar-nav-button" href="#binarypackages">
        Using Binary Packages
      </a>
      <a class="sidebar-nav-button" href="#modify">Modifying Containers </a>
      <a class="sidebar-nav-button" href="#singularity">Singularity </a>
      <a class="sidebar-nav-button" href="#msft">
        Microsoft Azure Container Instances
      </a>
      <a class="sidebar-nav-button" href="#mcr">
        Using containers hosted on Microsoft Container Registry
      </a>
      <a class="sidebar-nav-button" href="#aci">
        Use Azure Container Instances to run bioconductor images on-demand on
        Azure
      </a>
      <a class="sidebar-nav-button" href="#contribute">How to contribute </a>
      <a class="sidebar-nav-button" href="#deprecation">Deprecation Notice</a>
      <a class="sidebar-nav-button" href="#legacy">Legacy Containers </a>
      <a class="sidebar-nav-button" href="#reason">Reason for deprecation </a>
      <a class="sidebar-nav-button" href="#issues">Reporting issues </a>
      <a class="sidebar-nav-button" href="#acknowledgements">
        Acknowledgements
      </a>
    </nav>
  </div>
</div>
