<footer id="SiteGlobalFooter" class="SiteGlobalFooter">
  <div class="link-container">
    <div class="list-container">
      <h3><a href="/about/index.html">About</a></h3>
        <a href="/about/annual-reports/">Annual Reports</a>
        <a href="/about/core-team/">Core Team</a>
        <a href="/about/mirrors/">Mirrors</a>
        <a href="/about/related-projects/">Related Projects</a>
        <a href="/about/code-of-conduct/">Code of Conduct</a>
    </div>
    <div class="list-container">
      <h3><a href="/developers/index.html">Community</a></h3>
          <a href="https://contributions.bioconductor.org/develop-overview.html"
            >Package Guidelines</a>
          <a
            href="https://contributions.bioconductor.org/submission-overview.html"
            >Package Submission</a>
          <a href="/developers/release-schedule/">Release Schedule</a>
          <a
            href="https://contributions.bioconductor.org/git-version-control.html"
            >Source Control</a>
    </div>
    <div class="list-container">
      <h3><a href="/help/index.html">Learn</a></h3>
        <a href="/packages/release/workflows/">Workflows</a>
        <a href="/help/package-vignettes/">Package Vignettes</a>
        <a href="/help/faq/">FAQ</a>
        <a href="/help/support/">Support</a>
        <a href="http://cran.r-project.org/">Using R</a>
        <a href="/help/course-materials/">Courses</a>
        <a href="/help/publications/">Publications</a>
        <a href="/help/docker/">Docker Images</a>
        <a href="https://anvil.bioconductor.org/">Bioc in AnVIL</a>
        <a href="/help/community/">Community Resources</a>
      </ul>
    </div>
    <div class="list-container">
      <h3><a href="/install/index.html">Get started</a></h3>
        <a href="/install/index.html#install-R">Install R</a>
        <a href="/install/index.html#find-bioconductor-packages">
          Find Bioconductor Packages</a>
        <a href="/install/index.html#install-bioconductor-packages"
            >Install Bioconductor Packages</a>
        <a href="/install/index.html#update-bioconductor-packages"
            >Update Bioconductor Packages</a>
    </div>
  </div>
  <div class="contact-container">
    <div class="attribution_copyright">
      <p>Contact us:
        <a href="https://support.bioconductor.org/">support.bioconductor.org</a>
      </p>
      <p>Copyright &copy; 2003 - <%= Time.now.year %> Bioconductor</p>
    </div>
     <span class="global_footer_logo_bc noprint">
      <img src="/images/BC-Logo.svg" height="51" width="154" alt=""/>
    </span>
  </div>
</footer>