<header id="SiteMasthead" class="SiteMasthead">
  <div class="header-div">  
    <img
    src=
    border="0"
    class="masthead_logo"
    height="78"
    width="260"
    alt="Bioconductor - open source software for bioinformatics"
    />
  </div>

  <div class="header-div">
    <a href="/about/">About</a>
    <a href="/developers/">Community</a>
    <a href="/help/">Learn</a>
    <form
      class="site_search"
      id="search_form"
      method="GET"
      action="/help/search/index.html"
    >
    <input id="search_bar" name="search_bar" placeholder="Search"/>
    </form>
    <a class="header-button" href=/install/>
      <span>Get Started <i class="fa fa-chevron-right" style="font-size:14px"></i></span>
    </a>
  </div>
</header>