<div class="sidebar-box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt="" />
  <p class="sidebar-box-header">Literature Search</p>
  <ul>
    <li>
      <a
        href="http://www.ncbi.nlm.nih.gov/pubmed/?term=bioconductor&sort=ePubDate"
        >PubMed</a
      >
    </li>
    <li>
      <a href="http://www.ncbi.nlm.nih.gov/pmc/?term=bioconductor&sort=ePubDate"
        >PubMed Central</a
      >
    </li>
    <li>
      <a href="http://scholar.google.com/scholar?q=bioconductor&btnG=Search"
        >Google Scholar</a
      >
    </li>
  </ul>
  &nbsp;
</div>
