<%= doctype %>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
prefix="og: http://ogp.me/ns#">
  <%= render("/_sitehead/") %>
  <body>
    <%= render("/_nav/", :section_navigation => has_subnav?(@item) && subnav_items(@item).length > 0) %>

    <div style="height: 200px" data-note="This is a temporary container so the header doesn't overlap the content">.</div>
    <main>
      <div class='container'>
        <% if @item[:hero] %>
          <section class='hero'><%= render(@item[:hero]) %></section>
        <%end%>
  
        <% if @item.attributes.has_key?(:package_index_page) %>
          <%= render("/_pkg_idx/", :info => @item.attributes) %>
        <% end %>

        <% if @item.attributes.has_key?(:Package) %>
          <%= render("/_bioc_views_package_detail/", :package => @item.attributes) %>
        <% end %>

       	<% if has_subnav?(@item) %>
        <section class='left-col'><%= render("/components/subnav/", :pages => subnav_items(@item)) %></section>
      	<% end %>

        <section class='content'>
      	  <% if (@item.identifier != '/') %>
      	    <%= render("/components/breadcrumbs/") %>
        	<% end %>

          <%= yield if block_given? %>
        </section>
      </main>

      <%= render("/_footer/") %>
    </div>
  </body>
</html>
